* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

.nav-container {
  max-width: 1500px;
  margin: 0 auto;
  min-height: 100px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
  align-items: center;

  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 20px; */
}
.menus-container ul {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}
.menus-container ul li {
  text-decoration: none;
  list-style: none;
}
.menus-container ul li a {
  text-decoration: none;
}
.gamer {
  color: #0b0223;
  font-size: 2.75rem;
  font-weight: 700;
  text-align: center;
}
.first-word {
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.75rem;
  font-weight: 700;
  text-align: center;
  padding-left: 10px;
}
.menus-style {
  color: #3c354f;
  font-size: 1rem;
  font-weight: 500;
}
.menu-border {
  /* border: 1px solid green; */
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 15px 25px;
}
/* Banner section CSS */
.banner-container {
  max-width: 1500px;
  margin: 0 auto;
  /* border: 1px solid red; */
  height: 500px;

  display: flex;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
}
.banner-contents {
  width: 50%;
  /* border: 1px solid blue; */
  background-image: url("./images//Group\ 14.png");
  background-position: center;
  background-repeat: no-repeat;
  background-position-x: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;

  fill: linear-gradient(
    223deg,
    rgba(140, 87, 238, 0.03) 0%,
    rgba(241, 68, 174, 0.03) 100%
  );
  height: 500px;
}
.banner-contents ul li {
  list-style: none;
}
.banner-img {
  width: 50%;

  /* border: 1px solid green; */
}
.banner-img img {
  width: 72%;
}
.banner-heading {
  color: #0b0223;
  font-size: 3rem;
  font-weight: 600;
}
.goat {
  font-size: 6rem;
  font-weight: 800;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner-description {
  color: #534c64;
  font-size: 1.25rem;
  font-weight: 500;
}
.btn-pink {
  border-radius: 20px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  color: white;
  padding: 15px 25px;
  border: none;
}
.btn-blue {
  border-radius: 20px;
  background-color: #4ec5f7;
  color: white;
  padding: 15px 25px;
  border: none;
}
.button {
  margin-top: 20px;
}
.bi {
  padding-top: 10px;
  padding-bottom: 10px;
}
/* Card section css */
.card-heading {
  color: #0b0223;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  margin: 20px 0;
  width: 100%;
}
.card-heading-pink {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card-description {
  color: #534c64;
  text-align: center;

  font-size: 1rem;

  font-weight: 400;
  margin-bottom: 30px;
}
.card-container {
  max-width: 1200px;
  /* border: 2px solid black; */
  min-height: 150px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px auto;
}
.card {
  /* border: 2px solid red; */
  width: 22%;
}
.card img {
  width: 100%;
  padding-bottom: 15px;
}

/* Play games section start */
.play-games-container {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  max-width: 1500px;
  margin: 50px auto;
  /* border: 2px solid black; */
}
.image-container {
  width: 60%;
  min-height: 100px;
  /* border: 2px solid green; */
  position: relative;
  margin-left: 20px;
}
.play-games-contents {
  width: 40%;
  min-height: 100px;
  /* border: 2px solid pink; */
}
.big-image {
  width: 70%;
  /* position: relative; */
  padding-left: 150px;
  margin: 0 auto;
}
.small-image {
  width: 30%;
  position: absolute;
  bottom: -80px;
  right: 0px;
}
.play-games-heading {
  font-size: 3rem;

  font-weight: 700;
  margin-bottom: 20px;
}
.play-games-description {
  color: #534c64;

  font-size: 1rem;

  font-weight: 400;
}
/* Game category button start here */
.games-category-container {
  border: 2px solid black;
  max-width: 1500px;
  margin: 0 auto;
  min-height: 100px;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 17px;
  padding: 100px 0;
  margin-top: 100px;
}
.game-button {
  /* width: 80%; */
  flex-basis: 250px;
  min-height: 30px;
  border: 2px solid red;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 50px;
  background: #fff;
}

.game-names {
  color: #0b0223;
  font-size: 1.25rem;
  font-weight: 600;
  padding-left: 20px;
}
footer {
  background-color: #0b0223;
  color: white;
}
.footer-title-container {
  padding-top: 80px;
}
.footer-gamer {
  color: white;
  text-align: center;

  font-size: 2.5rem;

  font-weight: 700;
}
.footer-contents {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}
.footer-text {
  font-size: 1rem;
  font-weight: 600;
  padding: 20px;
}
.footer-privacy-contents {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}
.footer-terms-text {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  padding: 20px;
}
.footer-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.foot {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  padding-bottom: 30px;
}

@media screen and (max-width: 576px) {
  .nav-container {
    flex-direction: column;
  }
  .menus-container ul {
    flex-direction: column;
  }
  .menus-container ul li {
    padding-top: 20px;
  }
  .nav-title-container {
    padding-top: 20px;
  }
  /* Banner Section */
  .banner-container {
    flex-direction: column-reverse;
    height: auto;
    margin: 0 auto;
    margin-left: 30px;
  }
  .banner-img {
    width: 100%;
    margin-top: 20px;

    /* border: 2px solid black; */

    /* border: 1px solid green; */
  }
  .banner-img img {
    width: 80%;
    padding-left: 40px;
  }
  .banner-contents {
    width: 100%;
    /* text-align: center; */
    /* border: 1px solid black; */
  }
  /* Card section */
  .card-container {
    flex-direction: column;
  }
  .card {
    width: 80%;
    margin: 20px auto;
    text-align: center;
  }
  .card-heading {
    font-size: 1.75rem;
  }
  .card-description {
    font-size: 0.75rem;
  }
  /* Play games section */
  .play-games-container {
    flex-direction: column-reverse;
  }
  .image-container {
    width: 90%;
    height: 300px;
    /* min-height: 100px; */
    /* border: 2px solid green; */
    position: relative;
    /* margin: 0 auto; */
  }
  .play-games-contents {
    width: 90%;
    text-align: center;
    /* min-height: 400px; */
    /* border: 2px solid pink; */
  }
  .big-image {
    width: 70%;
    height: 100%;
    position: relative;
    padding-left: 30px;
    /* margin: 0 auto; */
  }
  .small-image {
    width: 35%;
    position: absolute;
    bottom: -50px;
    right: 50px;
  }
  /* Game category button */
  .games-category-container {
    border: 2px solid black;

    align-content: center;
    justify-content: center;

    /* gap: 17px; */
    /* padding: 100px 0; */
  }
  .play-games-contents {
    width: 80%;
    text-align: center;
    /* min-height: 400px; */
    /* border: 2px solid pink; */
  }
  .games-category-container {
    width: 80%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 0;
    margin-top: 75px;
  }
  .game-names {
    font-size: 0.5rem;
    font-weight: 600;
    padding-left: 5px;
  }
  .games-category-container .game-button img {
    width: 20%;
  }
  /* Footer CSS */
  .footer-contents {
    flex-direction: column;
  }
  .footer-privacy-contents {
    flex-direction: column;
  }
  footer {
    margin-top: 20px;
  }
}

@media screen and (min-width: 576px) and (max-width: 996px) {
  /* Banner Section */
  .banner-container {
    flex-direction: column-reverse;
    height: auto;
    margin: 0 auto;
    margin-left: 30px;
  }
  .banner-img {
    width: 100%;
    margin-top: 20px;

    /* border: 2px solid black; */

    /* border: 1px solid green; */
  }
  .banner-img img {
    width: 80%;
    padding-left: 40px;
  }
  .banner-contents {
    width: 100%;
    /* text-align: center; */
    border: 1px solid black;
  }
  /* Play games section */
  .play-games-container {
    flex-direction: column;
  }
  .image-container {
    width: 90%;
    height: 400px;
    /* min-height: 100px; */
    /* border: 2px solid green; */
    position: relative;
    /* margin: 0 auto; */
  }
  .play-games-contents {
    width: 90%;
    text-align: center;
    margin-top: 50px;
    /* min-height: 400px; */
    /* border: 2px solid pink; */
  }
  .big-image {
    width: 70%;
    height: 100%;
    position: relative;
    padding-left: 30px;
    /* margin: 0 auto; */
  }
  .small-image {
    width: 35%;
    position: absolute;
    bottom: -80px;
    right: 50px;
  }
}
